:root{
    --orange: #d95550;
    --lightOrange:#dd6662;
    --veryLightOrange: #f89e8b;
    --gray:#55557b;
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange);
}

.logo{
    width: 300px;
    position: absolute;
    top: 0px;
    right: 30px;
}
h1{
    margin-top: 200px;
    color: var(--white);
    text-align: center;
}
form{
    border: 1px solid;
    width: 400px;
    margin: 45px auto;
    text-align: center;
}
form input[type="text"]{
    background-color: var(--orange);
    border-style: none;
    font-size: 1.5rem;
}
form input[type="text"]::placeholder{
    color: var(--lightOrange);
}
form input[type="text"]:focus{
    outline: none;
}
form input[type="submit"]{
    font-size: 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--orange);
}
form input[type="submit"]
:hover{
    background-color:  var(--lightOrange);
    cursor: pointer;
    color: var(--white);
}
.contenedor-lista{
    width: 400px;
    margin: 0 auto;
}
.contenedor-tarea{
background-color: var(--white); 
display: flex;
justify-content: space-between;
margin-bottom: 6px;
padding: 16px;
border-radius: 4px;
font-size: 1.1em;
font-weight: 500;
color: var(--gray);
}
.btnEliminar{
    width: 15px;
    height: 15px;
}
.btnEliminar:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: all 0.2s;
}
#stats{
    margin-top: 25px;
    font-size: 1.3em;
    color: var
    (--lightOrange);
    text-align: center;